# Lab 1 : Pandas for simple data exploration

* Dataset: https://www.kaggle.com/competitions/h-and-m-personalized-fashion-recommendations
* Objective: To use pandas to explore the data
* You can read pandas documentation: https://pandas.pydata.org/docs/

## Read the Data

In [45]:
# install essential library
!pip install pandas

Requirement already satisfied: pandas in c:\users\rittichai\.pyenv\pyenv-win\versions\3.8.9\lib\site-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in c:\users\rittichai\.pyenv\pyenv-win\versions\3.8.9\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\rittichai\appdata\roaming\python\python38\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\rittichai\.pyenv\pyenv-win\versions\3.8.9\lib\site-packages (from pandas) (1.22.0)
Requirement already satisfied: six>=1.5 in c:\users\rittichai\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

WARNING: You are using pip version 22.0.4; however, version 23.2.1 is available.
You should consider upgrading via the 'C:\users\rittichai\.pyenv\pyenv-win\versions\3.8.9\python.exe -m pip install --upgrade pip' command.

In [46]:
# import essential library
import pandas as pd
import os

In [47]:
# read dataset
transactionsFile_path = os.getcwd() + "/transactions_train.csv"
transactions_df = pd.read_csv(transactionsFile_path)

In [48]:
# check transactions dataframe
transactions_df.head()

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2

## Find top 10 customers

In [49]:
# count transaction(s) per each customers
countTransactions_series = transactions_df["customer_id"].value_counts()

In [50]:
# select top 10 customer from countTransactions_series
top10Customer_series = countTransactions_series[0:10]

In [51]:
# print the result
print(f"Top 10 customers :")
print(top10Customer_series)

Top 10 customers :
be1981ab818cf4ef6765b2ecaea7a2cbf14ccd6e8a7ee985513d9e8e53c6d91b    1895
b4db5e5259234574edfff958e170fe3a5e13b6f146752ca066abca3c156acc71    1441
49beaacac0c7801c2ce2d189efe525fe80b5d37e46ed05b50a4cd88e34d0748f    1364
a65f77281a528bf5c1e9f270141d601d116e1df33bf9df512f495ee06647a9cc    1361
cd04ec2726dd58a8c753e0d6423e57716fd9ebcf2f14ed6012e7e5bea016b4d6    1237
55d15396193dfd45836af3a6269a079efea339e875eff42cc0c228b002548a9d    1208
c140410d72a41ee5e2e3ba3d7f5a860f337f1b5e41c27cf9bda5517c8774f8fa    1170
8df45859ccd71ef1e48e2ee9d1c65d5728c31c46ae957d659fa4e5c3af6cc076    1169
03d0011487606c37c1b1ed147fc72f285a50c05f00b9712e0fc3da400c864296    1157
6cc121e5cc202d2bf344ffe795002bdbf87178054bcda2e57161f0ef810a4b55    1143
Name: customer_id, dtype: int64

## Find customer that have more than 500 transactions

In [52]:
# select customer that have more than 500 transactions from countTransactions_series
moreThan500Transactions_series = countTransactions_series[
    countTransactions_series > 500
]

In [53]:
# print the result
print(
    f" Number of customer that have more than 500 transactions : {len(moreThan500Transactions_series)}"
)
print(f" Customer that have more than 500 transactions :")
print(moreThan500Transactions_series)

 Number of customer that have more than 500 transactions : 474
 Customer that have more than 500 transactions :
be1981ab818cf4ef6765b2ecaea7a2cbf14ccd6e8a7ee985513d9e8e53c6d91b    1895
b4db5e5259234574edfff958e170fe3a5e13b6f146752ca066abca3c156acc71    1441
49beaacac0c7801c2ce2d189efe525fe80b5d37e46ed05b50a4cd88e34d0748f    1364
a65f77281a528bf5c1e9f270141d601d116e1df33bf9df512f495ee06647a9cc    1361
cd04ec2726dd58a8c753e0d6423e57716fd9ebcf2f14ed6012e7e5bea016b4d6    1237
                                                                    ...
1efc4b5b01a689fc21e82623ad04b6e339a7569e0210d3102dbad4d6b5169659     502
72d3cc57dc336ba366bfd38711ea60d05882a2cb8bc1bbbddbdc9fc1d418b1ed     502
7c63901242b000cb46b385fc8dd7d80c1d21243b1018e9d141a864b71de6d130     502
954a81060bd56ab0a795fd7a59478d0b9b80ea42a8c4c6a04b14ff9e1f90418e     501
422080286d096263bc982ef75272c29c13ce97e288bdf1f6c877d590467a8765     501
Name: customer_id, Length: 474, dtype: int64

## Find top 10 articles

In [54]:
# count article(s)
countArticle_series = transactions_df["article_id"].value_counts()

In [55]:
# select top 10 articles from countArticle_series
top10Articles_series = countArticle_series[0:10]

In [56]:
# print the result
print(f" Top 10 articles :")
print(top10Articles_series)

 Top 10 articles :
706016001    50287
706016002    35043
372860001    31718
610776002    30199
759871002    26329
464297007    25025
372860002    24458
610776001    22451
399223001    22236
706016003    21241
Name: article_id, dtype: int64

## Find top 10 repurchase

In [57]:
# select some data from dataset
selectedData_df = transactions_df[["t_dat", "customer_id", "article_id"]]

In [58]:
# check selectedData dataframe
selectedData_df.head()

        t_dat                                        customer_id  article_id
0  2018-09-20  000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...   663713001
1  2018-09-20  000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...   541518023
2  2018-09-20  00007d2de826758b65a93dd24ce629ed66842531df6699...   505221004
3  2018-09-20  00007d2de826758b65a93dd24ce629ed66842531df6699...   685687003
4  2018-09-20  00007d2de826758b65a93dd24ce629ed66842531df6699...   685687004

In [59]:
# drop data that customer purchase same article in same day
dropDuplicate_df = selectedData_df.drop_duplicates()

In [60]:
# check dropDuplicate dataframe
dropDuplicate_df.head()

        t_dat                                        customer_id  article_id
0  2018-09-20  000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...   663713001
1  2018-09-20  000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...   541518023
2  2018-09-20  00007d2de826758b65a93dd24ce629ed66842531df6699...   505221004
3  2018-09-20  00007d2de826758b65a93dd24ce629ed66842531df6699...   685687003
4  2018-09-20  00007d2de826758b65a93dd24ce629ed66842531df6699...   685687004

In [61]:
# add count repurchase of each customer for each article in dropDuplicate_df
dropDuplicate_df["count"] = dropDuplicate_df.groupby(["customer_id", "article_id"])[
    "customer_id"
].transform("count")

In [ ]:
# select some data from dropDuplicate_df
repurchase_df = dropDuplicate_df[["customer_id", "article_id", "count"]]

In [ ]:
# drop duplicate data
repurchase_df = (
    repurchase_df.drop_duplicates()
    .sort_values(["count"], ascending=False)
    .reset_index()[["customer_id", "article_id", "count"]]
)

In [ ]:
# select top 10 repurchase from repurchase_df
top10Repurchase_df = repurchase_df[0:10]

In [ ]:
# print the result
print(f"Top 10 repurchase :")
print(top10Repurchase_df)

Top 10 repurchase :
                                         customer_id  article_id  count
0  91f3ab5944411eb3f6f79e93ab430f3d4ff92e5a5d4475...   728162001     32
1  8d2c33a1b060ce16add06f3742447115e5aaea20e847c1...   668537001     25
2  9d50687e366b49577c136952613632b9f157cb9051cb71...   772032001     23
3  725e94ded9d679b79c5719052dce66098171b9c202f17d...   228257001     20
4  0b19646eedcc9544fac9ab9dc12a5b4efc923913316f4a...   847180001     20
5  babbfda5640393e2509b3e0bc9428c249cfb6a1f4e4cfd...   189616001     20
6  91f1cc035b5d3e7f54f7c765bb82754129db9eadab0cd5...   399223001     19
7  a3813d07c74e6b3dbee979bb3209d87c1dec87ad26038f...   581298001     19
8  4f503f96f0585292eb2535c89cf7392007e70f62968460...   120129001     19
9  b57f471aa67ad7ae6413c7c3745028c6b8adba4f28feee...   228257002     18