# Lab 1 : Pandas for simple data exploration

In [1]:
import pandas as pd

file =('transactions_train.csv')
data = pd.read_csv(file)
data.head()

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2

## Find top 10 customers

In [2]:
count_customer = data['customer_id'].value_counts()
print(f" Top 10 Customers : \n{count_customer[0:10]}")

 Top 10 Customers :
be1981ab818cf4ef6765b2ecaea7a2cbf14ccd6e8a7ee985513d9e8e53c6d91b    1895
b4db5e5259234574edfff958e170fe3a5e13b6f146752ca066abca3c156acc71    1441
49beaacac0c7801c2ce2d189efe525fe80b5d37e46ed05b50a4cd88e34d0748f    1364
a65f77281a528bf5c1e9f270141d601d116e1df33bf9df512f495ee06647a9cc    1361
cd04ec2726dd58a8c753e0d6423e57716fd9ebcf2f14ed6012e7e5bea016b4d6    1237
55d15396193dfd45836af3a6269a079efea339e875eff42cc0c228b002548a9d    1208
c140410d72a41ee5e2e3ba3d7f5a860f337f1b5e41c27cf9bda5517c8774f8fa    1170
8df45859ccd71ef1e48e2ee9d1c65d5728c31c46ae957d659fa4e5c3af6cc076    1169
03d0011487606c37c1b1ed147fc72f285a50c05f00b9712e0fc3da400c864296    1157
6cc121e5cc202d2bf344ffe795002bdbf87178054bcda2e57161f0ef810a4b55    1143
Name: customer_id, dtype: int64

## Find customer that have more than 500 transactions

In [3]:
top_customer = count_customer[count_customer >= 500]
print(f" Number of customer that have more than 500 transactions : {len(top_customer)}")
print(f" Customer that have more than 500 transactions : \n{top_customer}")

 Number of customer that have more than 500 transactions : 478
 Customer that have more than 500 transactions :
be1981ab818cf4ef6765b2ecaea7a2cbf14ccd6e8a7ee985513d9e8e53c6d91b    1895
b4db5e5259234574edfff958e170fe3a5e13b6f146752ca066abca3c156acc71    1441
49beaacac0c7801c2ce2d189efe525fe80b5d37e46ed05b50a4cd88e34d0748f    1364
a65f77281a528bf5c1e9f270141d601d116e1df33bf9df512f495ee06647a9cc    1361
cd04ec2726dd58a8c753e0d6423e57716fd9ebcf2f14ed6012e7e5bea016b4d6    1237
                                                                    ...
422080286d096263bc982ef75272c29c13ce97e288bdf1f6c877d590467a8765     501
29f04ae4baf6eecf3d0da4e021a76248d5ccd9cc9955be1f070706c6c60e3d63     500
55f65c7851a59ed348804d68b07d9e3fca1f1f108cc6a1a64e3bb3f0c2dad15f     500
8244ee91f661730e4b0d94f404178bd40b5edcdd3863f62f3e7b6302acfc8156     500
f5f98325ed8a2d75fc405e85efcdc018cb6e3c0bf294c90db39dbb541a1b1441     500
Name: customer_id, Length: 478, dtype: int64

## Find top 10 articles

In [4]:
count_article = data['article_id'].value_counts()
print(f" Top 10 articles : \n{count_article[0:10]}")

 Top 10 articles :
706016001    50287
706016002    35043
372860001    31718
610776002    30199
759871002    26329
464297007    25025
372860002    24458
610776001    22451
399223001    22236
706016003    21241
Name: article_id, dtype: int64

## Find top 10 repurchase articles

In [5]:
# select some data from dataset
selected_data = data[['t_dat','customer_id','article_id']]
selected_data

,t_dat,customer_id,article_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004
...,...,...,...
31788319,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,929511001
31788320,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,891322004
31788321,2020-09-22,fff380805474b287b05cb2a7507b9a013482f7dd0bce0e...,918325001
31788322,2020-09-22,fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...,833459002
31788323,2020-09-22,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,898573003

In [6]:
# drop data that customer purchase same article in same day
drop_duplicate_data = selected_data.drop_duplicates()
drop_duplicate_data

,t_dat,customer_id,article_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004
...,...,...,...
31788319,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,929511001
31788320,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,891322004
31788321,2020-09-22,fff380805474b287b05cb2a7507b9a013482f7dd0bce0e...,918325001
31788322,2020-09-22,fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...,833459002
31788323,2020-09-22,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,898573003

In [7]:
# add count repurchase of each customer for each article
drop_duplicate_data['count'] = drop_duplicate_data.groupby(['customer_id','article_id'])['customer_id'].transform('count')

C:\Users\Rittichai\AppData\Local\Temp\ipykernel_5104\605867122.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drop_duplicate_data['count'] = drop_duplicate_data.groupby(['customer_id','article_id'])['customer_id'].transform('count')

In [8]:
repurchase = drop_duplicate_data[['customer_id','article_id','count']]
repurchase = repurchase.drop_duplicates().sort_values(['count'],ascending=False).reset_index()[['customer_id','article_id','count']]

In [9]:
print(f"Top 10 repurchase : \n{repurchase[0:10]}")

Top 10 repurchase :
                                         customer_id  article_id  count
0  91f3ab5944411eb3f6f79e93ab430f3d4ff92e5a5d4475...   728162001     32
1  8d2c33a1b060ce16add06f3742447115e5aaea20e847c1...   668537001     25
2  9d50687e366b49577c136952613632b9f157cb9051cb71...   772032001     23
3  725e94ded9d679b79c5719052dce66098171b9c202f17d...   228257001     20
4  0b19646eedcc9544fac9ab9dc12a5b4efc923913316f4a...   847180001     20
5  babbfda5640393e2509b3e0bc9428c249cfb6a1f4e4cfd...   189616001     20
6  91f1cc035b5d3e7f54f7c765bb82754129db9eadab0cd5...   399223001     19
7  a3813d07c74e6b3dbee979bb3209d87c1dec87ad26038f...   581298001     19
8  4f503f96f0585292eb2535c89cf7392007e70f62968460...   120129001     19
9  b57f471aa67ad7ae6413c7c3745028c6b8adba4f28feee...   228257002     18